/*
#28537d
#f04e23
*/

$theme-color-1: #f04e23;
$theme-color-2: #28537d;

$primary-color: $theme-color-2;
$secondary-color: #555;
$success-color: #29A33A;
$danger-color: #D64820;
$warning-color: #D1C00B;
$info-color: #0886A3;
$light-color: #efefef;
$dark-color: #000;